 body{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   background-color:#D8D2CB;
  
}
#message{
  margin: 2rem 0rem;
  text-transform: uppercase;
  color: green;
}
.cardgame{
  padding: 4rem 2rem;
  
 
}
#myInput{
  height: 2rem;
  width: 10rem;
  border-radius: 1.5rem;
  text-align: center;
  font-size: 1.2rem;
  font-family: 'Poppins', sans-serif;

}
::placeholder{
font-size: 1rem;
font-family: 'Poppins', sans-serif;
text-align: center;
}
#start{
  background-color: #3E7C17;
}
#start:hover{
  background-color: #85C88A;
  border: 1px solid #7e7c79;
}
#reset{
  background-color: red;
}
#reset:hover{
  background-color:#DA1212;

}
#high{
  background-color: #041562;
}
#low{
  background-color: #FFC300;
}
#stick{
  margin-left: 6rem;
  background-color:#DA1212;
}
#clear{
  width: 6rem;
  height: 2.5rem;
  background-color: #E5DCC3;
  font-size: 1.1rem;
  font-family: 'Poppins', sans-serif;
  border-radius: 2rem;
}
#high,
#low,
#stick,
#reset,
#start{
  height: 2rem;
  width: 6rem;
  color: #fff;
  border-radius: 4rem;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
}

#grid {
  width: 100%;
  /* padding: 20px; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 3rem;
}

table, th, td {
border: 1px solid;
margin-bottom: 2rem;
}
.table_score{
  text-transform: uppercase;
  font-size: 1.2rem;
}
table{
  width: 30%;
  /* height: 30%; */
  border-collapse: collapse;
  font-family: 'Poppins', sans-serif;
}
th{
  width: 20px;
}
td{
  text-align: center;
}
tr{
  height: 30px;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}

.grid_section{
  display: flex;

  
}
/* .grid_table{
  display: flex;
  flex-direction: column;
} */