html {
  box-sizing: border-box;
  font-size: 85.5%;
 }
 @media (max-width:56.2em){ 
  html{
    font-size: 80%;
  }
}
  @media screen and (max-width: 37.5em) {
    html{
      font-size: 75.5%;
    }
  }
body{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 2rem;
  box-sizing: border-box;
   background-color:#D8D2CB; 
}
#message{
  margin: 2rem 0rem;
  text-transform: uppercase;
  color: green;
}
#myInput{
  height: 2rem;
  width: 10rem;
  border-radius: 1.5rem;
  text-align: center;
  font-size: 1.2rem;
  font-family: 'Poppins', sans-serif;
}
::placeholder{
font-size: 1rem;
font-family: 'Poppins', sans-serif;
text-align: center;
}
.gameMenu{
  display: flex;
  align-items: center;
}
@media screen and (max-width: 37.5em) {
  .gameMenu{
    flex-direction: row;
  }
}
.gamedemo{
  text-decoration: none;
  text-transform: uppercase;
 font-size: 1rem;
 color: #fff;
}
.game_demo__section{
  background-color: red;
  height: 2rem;
  width: 6rem;
  border-radius: 4rem;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 38rem;
}
@media screen and (max-width: 37.5em) {
  .game_demo__section{
    flex-direction: column;
    margin-left: 0;
  }
}
@media (max-width:56.2em){ 
  .game_demo__section{
    flex-direction: column;
    margin-left: 3rem;
  }
}

#start{
  background-color: #3E7C17;
  margin: 0 1.2rem 0 1.2rem;
}


#start:hover{
  background-color: #85C88A;
  border: 1px solid #7e7c79;
}
#reset{
  background-color: red;
  margin: 0 1.2rem 0 1.2rem;
}
#reset:hover{
  background-color:#DA1212;
}
#high{
  background-color: #041562;
  margin: 0 1.2rem 0 1.2rem;
}
#low{
  background-color: #FFC300;
  margin: 0 1.2rem 0 1.2rem;
}
#stick{
  margin-left: 49rem;
  background-color:#DA1212;
}
@media (max-width:37.5em){
  #stick{
    margin-left: 8rem;
  }
} 
@media (max-width:56.2em){
  #stick{
    margin-left: 13rem;
  }
}
#clear{
  width: 5rem;
  height: 2rem;
  background-color: #E5DCC3;
  font-size: 1.1rem;
  font-family: 'Poppins', sans-serif;
  border-radius: 2rem;
}
.btn_grid__section{
  margin-left: 1rem;
}
.mainbtn{
  margin-top: 10rem;
}
#high,
#low,
#stick,
#reset,
#start{
  height: 2rem;
  width: 6rem;
  color: #fff;
  border-radius: 4rem;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
}
#grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 2rem;
}
table, th, td{
border: 1px solid;
margin-bottom: 1rem;
}
.table_score{
  text-transform: uppercase;
  font-size: 1.2rem;
}
table{
  width: 100px;
  border-collapse: collapse;
  font-family: 'Poppins', sans-serif;
}
th{
  width: 20px;
}
td{
  text-align: center;
  width: 40px;
  height: 10px;
}
tr{
  height: 30px;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
} 
.gamebutton{
  text-decoration: none;
  text-transform: uppercase;
 font-size: 1rem;
  color: #fff;
}
.startbtn_section{
  background-color: #3E7C17;
  margin-bottom: -1rem;
  height: 2rem;
  width: 8rem;
  border-radius: 4rem;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.2rem 1rem;
  padding: 4px;

}
